{% extends "Admin/base.html.twig" %}
{% block body %}
<!-- BEGIN: General Report -->
<div class="col-span-12 mt-8">
    <div class="intro-y flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
            General Report
        </h2>
    </div>
    <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
            <div class="report-box zoom-in">
                <div class="box p-5">
                    <div class="text-3xl font-medium leading-8 mt-6"><a href="{{ path('app_affLiv') }}">Delivery Details</a> </div>
                    
                </div>
            </div>
        </div>
        <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
            <div class="report-box zoom-in">
                <div class="box p-5">
                    <div class="text-3xl font-medium leading-8 mt-6"><a href="{{ path('app_affSuiLiv') }}">Add Details </a> </div>
                    
                </div>
            </div>
        </div>
        <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
            <div class="report-box zoom-in">
                <div class="box p-5">
                    <div class="text-3xl font-medium leading-8 mt-6"><a href="{{ path('app_dashboard') }}">Statistics </a> </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- END: General Report -->

{% endblock %}