		<nav class="fh5co-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-xs-2">
							<div id="fh5co-logo"><a href="index.html">NNN<span>.</span></a></div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<li class="active"><a href="index.html">Home</a></li>
								<li><a href="Groups.html">Groups</a></li>
								<li><a href="Events.html">Events</a></li>
								<li><a href="Quiz.html">Quiz</a></li>
								<li><a href="Market.html">Market</a></li>
								<li class="btn-cta"><a href="profile.html"><span>Aziz Hammadi</span></a></li>
								<li class="has-dropdown">
									<a href="Panier.html"><i class="fa fa-shopping-cart" font-size:24px></i></a>
									<ul class="dropdown">
										<li><a href="Livraison.html">Livraison</a></li>


									</ul>
								</li>


							</ul>
						</div>
					</div>

				</div>
			</div>
		</nav>
    <header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t js-fullheight">
							<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
								<h1>Creativity Is A Wild Mind &amp; A Disciplined Eye</h1>
								<h2>Free html5 templates Made by <a href="http://freehtml5.co/"
										target="_blank">freehtml5.co</a></h2>
								<p><a class="btn btn-primary btn-lg btn-demo" href="#"></i> View Demo</a> <a
										class="btn btn-primary btn-lg btn-learn">Learn More</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>