{% extends "User/base.html.twig" %}

{% block home %}   {% endblock %}
{% block group %}   {% endblock %}
{% block event %}   {% endblock %}
{% block market %}   {% endblock %}

{% block body %}

<div id="fh5co-portfolio">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Take a Quiz !</h2>
					<p> Get a Certification </p>
				</div>
			</div>
             <div class="row">
              {% for onequiz in quiz %}
           
          
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(images/blog-1.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">--------------</span>
							<h3><a href="#"> {{ onequiz.quizname }}</a></h3>
							<p>{{ onequiz.descQuiz }}</p>
							<ul class="stuff">
								<li>{{ onequiz.points }}</li>
								app_quiz
								<li><a href="{{ path('quizpass', {'id': 1,'idquiz': onequiz.id} )}}">Take the Quiz<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div> 
					</div>
                    </div>
                 {% endfor %}
            </div>
</div>

 {% endblock %}