<div id="fh5co-started">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>reclamation!</h2>

					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta
						adipisci architecto culpa amet.</p>

					<p><a  href="{{ path('app_adddynamique', {'id': user.id ?? 0}) }}" class="btn btn-default btn-lg">Reclamation</a></p>
				
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h4>Nature Nerd Network</h4>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta
						adipisci architecto culpa amet.</p>
				</div>
				<div class="col-md-2 col-md-push-1 fh5co-widget">
					<h4>Links</h4>
					<ul class="fh5co-footer-links">
						<li><a href="home">Home</a></li>
						<li><a href="group">Groups</a></li>
						<li><a href="event">Events</a></li>
						<li><a href="quiz">Quiz</a></li>
						<li><a href="market">Market</a></li>
					</ul>
				</div>

				
				<div class="col-md-4 col-md-push-1 fh5co-widget">
					<h4>Contact Information</h4>
					<ul class="fh5co-footer-links">
						<li>lot 13, V5XR+M37 إقامة السلام 2، Av. Fethi Zouhir, Cebalat Ben Ammar 2083 </li>
						<li><a href="tel://28128956">+216 28 128 956</a></li>
						<li><a href="mailto:info@yoursite.com">NatureNerdNetwork.com</a></li>
						
					</ul>
				</div>

			</div>

			

		</div>
	</footer>